.Adminbooks {
    color: black;
    /* border: 1px solid red; */
    padding: 20px;
}

.head {
    background: cornflowerblue;
    font-size: x-large;
}

.cell {
    vertical-align: middle !important;
}

.btn-add {
    text-align: right;
}

button {
    margin-right: 2px;
}

fieldset {
    border: 1px solid silver !important;
}

.links {
    list-style-type: none;
}

.removeLink {
    /* border: 1px solid; */
    width: 75px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}